<h1 align="center">About Blog</h1><hr><br>

<div class="col-xs-8 col-xs-offset-2">
  <p align="center"><font size="4.2" >
    On the top left of the page, you can see our blog posts that we
    have created before, create and share the blog post you want to add.
    On the top right of the page, you can see the created users and view
    the blog posts shared by these users.
    If you are not logged in, you can log in to the blog or register.
  </font></p>
  <br>
  <hr/><a href="mailto:bgezgin@protonmail.com">Send me an e-mail.</a>
</div>