<h1 align="center">About Blog</h1><hr><br>

<div class="col-xs-8 col-xs-offset-2">
  <p align="center"><font size="4.2" >
    On the upper left side of the page, you can see the blog
    posts we have created before, create and share the blog
    post you want to add. At the top right of the page, you
    can see the users created and view the blog posts shared
    by those users. If you are not logged in, you can log into
    the blog; you can register if you are not registered; If
    you are logged in, you can log out.
  </font></p>
  <br>

  <div class="footer"><hr/>
    <a href="mailto:bgezgin@protonmail.com">Send me an e-mail.</a>
  </div>
</div>