<h1 align="center">About Blog</h1><hr><br>
<div class="col-xs-8 col-xs-offset-2">
  <p align="center"><font size="4.2" >
    Sayfanın sol üstünden daha önce oluşturulmuş olduğumuz blog yazılarımızı görebilir,
    eklemek istediğiniz blog yazınızı oluşturup paylaşabilirsiniz. Sayfanın sağ üstünde
    ise oluşturulmuş kullanıcıları görebilir ve bu kullanıcıların paylaştıkları blog yazılarını
    görüntüleyebilirsiniz. Eğer giriş yapmadıysanız blog'a giriş yapabilir ya da kaydolabilirsiniz.</font></p>
</div>