<h1 align="center">Welcome to Word Life</h1><hr>

<div class="col-xs-8 col-xs-offset-2">
  <p align="center"><font size="4.2" >
    My purpose in making this page was to create a blog page where
    we can easily share the topics that interest us. I hope it has
    a web page that fits its goal.
  </font></p>
</div>