<h1 align="center">Welcome to Word Life</h1><hr>
<div class="col-xs-8 col-xs-offset-2">
  <p align="center"><font size="4.2" >
    Bu sayfayı yapmaktaki amacım ilgimizi çeken konuları birbirimizle kolayca paylaşabileceğimiz
    bir blog sayfası oluşturmaktı. Umarım hedefine uygun bir web sayfası olmuştur.
  </font></p>
  <br>
  <hr/><a href="mailto:bgezgin@protonmail.com">Bana e-mail yollayın</a>
</div>
